In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import datetime
import os.path

from leaguesync.util import get_config

from leaguesync.calendar import * 

from leaguesync import * 
from leaguesync.calendar import logger
from leaguesync.calendar import Calendar
import logging

logging.basicConfig()
logger.setLevel(logging.DEBUG)

from tqdm.auto import tqdm

import warnings

p13 = Pike13('./league-remote.env')
p13.update() 

pdf = Pike13DataFrames(p13)
config = get_config('./league-remote.env')
cv_cal_id = config['GA_CLASSES_CAL_CV']
ncv_cal_id = config['GA_CLASSES_CAL_NOTCV']
vl_cal_id=config['GA_CLASSES_CAL_VL']

In [4]:
from leaguesync.web.events import pike13_events_df
from leaguesync.web.util import make_when_df

def select(event):
    return (
            'java' in event.event_name.lower() and
            not 'make-up' in event.event_name.lower() and
            not '@' in event.event_name.lower() and
            event.location_code == 'CV'
            )

#p13evt = pike13_events_df(p13, select_f = select)
p13evt = pike13_events_df(p13)
e = make_when_df(p13evt)
e.head()

,event_id,event_name,location_name,description_short,description,dow_hours,sort_order,dh_hour,dh_hour_str,dh_dow,dh_dow_str,when,service_id
0,13407638,Programming Classes,Carmel Valley Campus (CV),"Currently the worlds most popular language, Py...",None,"{'hour': 11, 'dow': 0}",11,11,11:00AM,0,Mondays,Mondays at 11:00AM,319636
1,13407638,Programming Classes,Carmel Valley Campus (CV),"Currently the worlds most popular language, Py...",None,"{'hour': 11, 'dow': 2}",11,11,11:00AM,2,Wednesdays,Wednesdays at 11:00AM,319636
2,9804197,Java@VL Starling,Virtual Learning (VL),None,None,"{'hour': 15, 'dow': 0}",15,15,3:00PM,0,Mondays,Mondays at 3:00PM,191042
3,8792522,Java@CV Cobra,Carmel Valley Campus (CV),None,None,"{'hour': 15, 'dow': 0}",15,15,3:00PM,0,Mondays,Mondays at 3:00PM,263387
4,13293124,Java@LH,LINCOLN HIGH SCHOOL,None,None,"{'hour': 15, 'dow': 0}",15,15,3:00PM,0,Mondays,Mondays at 3:00PM,213851

In [7]:
# Java at CV
def select(event):
    return (
            'java' in event.event_name.lower() and
            #not 'make-up' in event.event_name.lower() and
            #not '@' in event.event_name.lower() and
            event.location_code == 'CV'
            )

p13evt = pike13_events_df(p13, select_f = select)
e = make_when_df(p13evt)

for gn, g in e.groupby(['dh_dow_str','dh_hour_str']):
    print(f"\n=== {gn[0] }, {gn[1] } ")
    for idx, r in g.iterrows():
        print(f"    {r.event_name} ")

=== Fridays, 3:00PM
    Java@CV Dhole
    Java@CV Ram

=== Fridays, 5:00PM
    Java@CV Bi-monthly
    Java 5-6:30pm New Students
    Java@CV Dugong
    Java@CV Deer

=== Fridays, 6:00PM
    Java@CV Jackrabbit
    Java 6:30-8pm New Students

=== Mondays, 3:00PM
    Java@CV Cobra

=== Saturdays, 10:00AM
    Make-Up Lab @CV Java/Python
    Java@CV Zebra

=== Saturdays, 11:00AM
    Java@CV Chameleon
    Java@CV Firefly
    Java 11:30am-1pm New Students

=== Saturdays, 1:00PM
    Java@CV Caribou

=== Saturdays, 3:00PM
    Java@CV Octopus

=== Saturdays, 5:00PM
    Java@CV Koala
    Java@CV Anteater

=== Sundays, 10:00AM
    Java@CV Bat
    Java@CV Kitten

=== Sundays, 11:00AM
    Java@CV Bumble Bee

=== Sundays, 1:00PM
    Java@CV Penguin

=== Sundays, 4:00PM
    Java@CV Jaguar

=== Thursdays, 3:00PM
    Java@CV Skipper
    Java 3:30-5pm New Students

=== Thursdays, 5:00PM
    Java@CV Giraffe
    Java 5-6:30pm New Students

=== Thursdays, 6:00PM
    Java@CV Gnu

=== Thursdays, 9:00AM
    Java Beginner ( Levels 0, 1, 2)

=== Tuesdays, 11:00AM
    Programming Classes (Java, Python)

=== Tuesdays, 5:00PM
    Java@CV Finch
    Java 5-6:30pm New Students

=== Wednesdays, 11:00AM
    Programming Classes (Java, Javascript_

=== Wednesdays, 3:00PM
    Make-Up Lab @CV Java/Python (small)
    Java@CV Gorilla

=== Wednesdays, 9:00AM
    Java Advanced ( Levels 3, 4, 5)

In [27]:
p13evt

,event_occurrence_id,event_id,event_name,service_id,location_id,state,visits_count,start_at,end_at,occ_month,...,location_code,service_name,type,duration_in_minutes,maximum_clients,category_id,category_name,description,description_short,instructions
21073,196387371,8792522,Java@CV Cobra,263387,22675,active,6,2024-02-05 15:30:00-08:00,2024-02-05 17:00:00-08:00,2024-02,...,CV,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
21077,196404255,8792650,Java@CV Finch,263387,22675,active,2,2024-02-05 17:00:00-08:00,2024-02-05 18:30:00-08:00,2024-02,...,CV,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
21078,224811797,13396212,Java 5-6:30pm New Students,269230,22675,active,0,2024-02-05 17:00:00-08:00,2024-02-05 18:30:00-08:00,2024-02,...,CV,Java Trial Class - IN PERSON,GroupClass,90,6,93594.0,Intro Classes,<p><b>Sign up now for a free trial class!</b><...,None,"Welcome...before your first day of class, we h..."
21082,225007768,13407665,"Programming Classes (Java, Python)",319636,22675,active,0,2024-02-06 11:00:00-08:00,2024-02-06 12:30:00-08:00,2024-02,...,CV,Python Classes,GroupClass,90,8,93504.0,Group Classes,None,"Currently the worlds most popular language, Py...",None
21086,225008085,13407686,"Programming Classes (Java, Javascript_",319636,22675,active,0,2024-02-07 11:00:00-08:00,2024-02-07 12:30:00-08:00,2024-02,...,CV,Python Classes,GroupClass,90,8,93504.0,Group Classes,None,"Currently the worlds most popular language, Py...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21359,198649287,6768695,Java@CV Bumble Bee,191042,22675,active,1,2024-03-03 11:30:00-08:00,2024-03-03 13:00:00-08:00,2024-03,...,CV,Java@VL,GroupClass,90,5,88168.0,All Virtual Classes,None,None,None
21362,198650262,8942020,Java@CV Penguin,263387,22675,active,3,2024-03-03 13:00:00-08:00,2024-03-03 14:30:00-08:00,2024-03,...,CV,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
21367,198708157,8792522,Java@CV Cobra,263387,22675,active,6,2024-03-04 15:30:00-08:00,2024-03-04 17:00:00-08:00,2024-03,...,CV,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
21370,198721180,8792650,Java@CV Finch,263387,22675,active,2,2024-03-04 17:00:00-08:00,2024-03-04 18:30:00-08:00,2024-03,...,CV,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
21374,225007772,13407665,"Programming Classes (Java, Python)",319636,22675,active,0,2024-03-05 11:00:00-08:00,2024-03-05 12:30:00-08:00,2024-03,...,CV,Python Classes,GroupClass,90,8,93504.0,Group Classes,None,"Currently the worlds most popular language, Py...",None

In [6]:
def select(event):
    return (
            'python' in event.event_name.lower() and
            not 'make-up' in event.event_name.lower() and
            #not '@' in event.event_name.lower() and
            event.location_code == 'CV'
            )

p13evt = pike13_events_df(p13, select_f = select)
e = make_when_df(p13evt)

for gn, g in e.groupby(['dh_dow_str','dh_hour_str']):
    print(f"\n=== {gn[0] }, {gn[1] } ")
    for idx, r in g.iterrows():
        print(f"    {r.event_name} ")

=== Fridays, 3:00PM
    Python@CV Ram

=== Saturdays, 5:00PM
    Python@CV Koala

=== Sundays, 11:00AM
    Python@CV Bear

=== Tuesdays, 11:00AM
    Programming Classes (Java, Python)

# Syncing Calendars

In [ ]:
cal = Calendar('./league-remote.env', location="CV", cal_id=cv_cal_id)
cal.update(p13)

In [ ]:
def event_f(e):
    """Return true if this event should be included in the non-CV calendar, which is actually
    not CV, and not Virtual"""

    return Calendar.is_location(e, '!CV') and Calendar.is_location(e, '!VL')

ncal = Calendar('./league-remote.env', event_f=event_f, cal_id=ncv_cal_id)
ncal.update()

In [ ]:
vlcal = Calendar('./league-remote.env', location="VL", cal_id=vl_cal_id)
vlcal.update(p13)

In [ ]:
ncal = Calendar('./league-remote.env', cal_id=ncv_cal_id)
#ncal.delete_events(progress=True)

In [ ]:
ncal.update_events()

In [ ]:
cale = ncal.pike13_events_df()
cale.head()

In [ ]:
Calendar.filter_location(cale,['!VL', '!CV']).location_name.value_counts()

In [ ]:
for e, prv in cale:
    print(e['summary'], e['start'], e['description'])

In [ ]:
cale.columns

In [ ]:
def in_date_range(df):
    """Filter the DataFrame to only include events in the current week and the next 30 days"""

    from datetime import datetime, timedelta

    start_date = datetime.now().date() - timedelta(days=datetime.now().weekday())
    end_date = datetime.now().date() + timedelta(days=30)

    mask = (df['start_at'] >= str(start_date)) & (df['start_at'] <= str(end_date) )
    return df.loc[mask]
    
def pike13_events_df(p13: Pike13, location=None, select_f=None, incl_str=None):
    """Get the events from Pike13 as a DataFrame, form on month ago to now."""

    pdf = Pike13DataFrames(p13)

    eo = pdf.event_occurrences
    loc = pdf.locations
    srv = pdf.services

    t = eo.merge(loc).merge(srv)
    t = t[t.start_at >= str(one_month_ago().date())]

    if location:
        t = Calendar.filter_location(t, location)

    if select_f:
        t = t[t.apply(select_f, axis=1)]

    if includes_str:
        t = includes_str(t, incl_str)

    t = in_date_range(t)

    # Ensure the datetime is timezone-aware, set to UTC
    for c in ['start_at', 'end_at']:
        t[c] = t[c].apply(lambda x: convert_naive(x).tz_convert('America/Los_Angeles'))
        
    return t

In [ ]:
df[['event_id','service_id']].drop_duplicates()

In [ ]:
%run /Users/eric/proj/league-projects/website-services/util.py 

def select(event):
    return 'java' in event.event_name.lower() and not 'make-up' in event.event_name.lower()

df = pike13_events_df(p13)

# Add the day of week and hours strings, such as
# Sundays at 4:00PM, Saturdays at 4:00PM

t = make_when_df(df)
t.head()

In [ ]:
t =df.merge(events[['event_id','dow_hours','dh_str']])
t[['dow_hours','dh_str','start_at

In [ ]:
from leaguesync.web.util import render
from leaguesync.web import render_events_html

def select(event):
    return (
            'java' in event.event_name.lower() and
            not 'make-up' in event.event_name.lower() and
            not '@' in event.event_name.lower() and
            event.location_code == 'CV'
            )

from IPython.display import HTML
HTML(render_events_html(p13, select_f=select))