In [3]:
%load_ext autoreload
%autoreload 2
    
from leaguesync import * 
from leaguesync.pike13 import logger
import logging

logging.basicConfig()
#logger.setLevel(logging.DEBUG)

import warnings

p13 = Pike13('./league-remote.env')

pdf = Pike13DataFrames(p13)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
pdf.services

,service_id,service_name,type,duration_in_minutes,maximum_clients,category_id,category_name,description,description_short,instructions
0,319359,Java Classes,GroupClass,90,8,93504.0,Group Classes,"<p><img alt="""" src=""https://d1nqv8xdwxria6.clo...","In-person and online instruction in Java, one ...",None
1,319636,Python Classes,GroupClass,90,8,93504.0,Group Classes,None,"Currently the worlds most popular language, Py...",None
2,320425,Intro to Programming,Course,60,6,93521.0,Camps,<p><br></p><p>Learn the basics of programming ...,None,"<p>Welcome...before your first day of class, w..."
3,320135,Intro to Python,Course,60,10,93521.0,Camps,"<img alt="""" src=""https://d1nqv8xdwxria6.cloudf...",None,"<p>Welcome...before your first day of class, w..."
4,320134,Intro to Java,Course,60,10,93521.0,Camps,"<b><img alt="""" src=""https://d1nqv8xdwxria6.clo...",None,<b><p>Welcome...before your first day of class...
5,304450,AI Camp,Course,60,8,93521.0,Camps,"<p><img alt="""" src=""https://d1nqv8xdwxria6.clo...",None,"Location: 12625 High Bluff Dr #113, San Diego,..."
6,221389,SLAMS - 4 Day,Course,60,10,78358.0,Slams,<b>HOLIDAY SLAM is an opportunity for students...,,None
7,233439,SLAMS - 5 Day,Course,60,10,78358.0,Slams,<p><br></p><p>SLAMS (Short Learning Accelerate...,,
8,191144,CSA AP Prep,GroupClass,90,10,93519.0,Exam Preparation,AP Computer Science A Test Prep class - In thi...,None,None
9,256988,Private Lessons,GroupClass,90,1,93516.0,None,None,None,None
10,319607,Tech Club Meetup,Appointment,90,1,93518.0,Special Topics,None,None,None
11,178645,Student Assessment,Appointment,30,1,66590.0,admin,None,None,None
12,313881,Intro to Game Design,Course,60,12,93520.0,Games,"<img alt="""" src=""https://d1nqv8xdwxria6.cloudf...",None,"Location: 12625 High Bluff Dr #113, San Diego,..."
13,133762,Special session,Appointment,60,1,93518.0,Special Topics,None,None,None
14,263387,Java@CV,GroupClass,90,6,88168.0,All Virtual Classes,None,None,None
15,292822,Java@CV Bi-monthly,GroupClass,90,2,88168.0,All Virtual Classes,None,None,None
16,191042,Java@VL,GroupClass,90,5,88168.0,All Virtual Classes,None,None,None
17,191360,Java@DL,GroupClass,90,10,88168.0,All Virtual Classes,None,None,None
18,181633,Java@HHS,GroupClass,80,25,88168.0,All Virtual Classes,None,None,None
19,213851,Java@LH,GroupClass,90,10,88168.0,All Virtual Classes,None,None,None
20,183890,Java@SMM,GroupClass,90,20,88168.0,All Virtual Classes,None,None,None
21,269230,Java Trial Class - IN PERSON,GroupClass,90,6,93594.0,Intro Classes,<p><b>Sign up now for a free trial class!</b><...,None,"Welcome...before your first day of class, we h..."
22,257950,Java Trial Class - ONLINE,GroupClass,90,5,93594.0,Intro Classes,<p></p><p><b></b></p><p><b>Sign up now for a f...,None,"<div class=""p-rich_text_section"" style=""text-a..."
23,304806,Python Trial Class - IN PERSON,GroupClass,90,4,93594.0,Intro Classes,<p><b>SIGN UP NOW FOR A FREE CLASS!</b><br></p...,None,"<div class=""p-rich_text_section"" style=""text-a..."
24,292457,Python Trial Class - ONLINE,GroupClass,90,5,93594.0,Intro Classes,<p><b>SIGN UP NOW FOR A FREE CLASS!</b><br></p...,None,"<div class=""p-rich_text_section"" style=""text-a..."
25,270616,Python@CV,GroupClass,90,5,67948.0,Python,None,None,None
26,255811,Python@VL,GroupClass,90,5,67948.0,Python,"<span style=""background-color: rgba(255, 255, ...",None,"<div class=""p-rich_text_section"" style=""text-a..."
27,266276,Make-Up Lab @VL Java/Python (small),GroupClass,90,2,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,None,None
28,102092,Make-Up Lab @VL Java/Python,GroupClass,90,5,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,,<b></b><br>
29,171850,Make-Up Lab @VL Java ONLY,GroupClass,90,5,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,,
30,255927,Make-Up Lab @VL Java ONLY (small),GroupClass,90,2,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,None,None
31,288419,Make-Up Lab @CV Java/Python (small),GroupClass,90,2,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,None,This makeup lab meets in person at Carmel Vall...
32,283423,Make-Up Lab @CV Java/Python,GroupClass,90,6,88168.0,All Virtual Classes,Make-Up Lab is available for League students e...,None,This makeup lab meets in person at Carmel Vall...
33,279205,subrequest,Appointment,90,1,NaN,None,None,None,None

In [5]:
from datetime import datetime
import pandas as pd
import pytz 

one_month_ago = datetime.now(pytz.utc) - pd.DateOffset(weeks=2)

t = pdf.event_occurrences
t = t[t['start_at'] > one_month_ago]
t = t.merge(pdf.services[['service_id','service_name','category_name']])
t = t[['event_occurrence_id', 'event_id', 'service_id','location_id',  'event_name', 'service_name',  'start_at']]
t

,event_occurrence_id,event_id,service_id,location_id,event_name,service_name,start_at
0,218789468,12952206,181633,30565,Java@HHS,Java@HHS,2024-02-01 22:00:00+00:00
1,196062038,10722594,263387,22675,Java@CV Skipper,Java@CV,2024-02-01 23:30:00+00:00
2,224802956,13395526,269230,22675,Java 3:30-5pm New Students,Java Trial Class - IN PERSON,2024-02-01 23:30:00+00:00
3,196056385,6184136,183890,23281,Java@VL Zebra,Java@SMM,2024-02-02 01:00:00+00:00
4,196057356,8547623,263387,22675,Java@CV Deer,Java@CV,2024-02-02 01:00:00+00:00
...,...,...,...,...,...,...,...
1117,205459085,4950771,191042,22675,Java@CV Gnu,Java@VL,2024-05-30 01:30:00+00:00
1118,205459087,8819754,191042,23281,Java@VL Camel,Java@VL,2024-05-30 01:30:00+00:00
1119,224534115,13378382,319359,22675,"Java Beginner ( Levels 0, 1, 2)",Java Classes,2024-05-30 16:00:00+00:00
1120,218789490,12952206,181633,30565,Java@HHS,Java@HHS,2024-05-30 21:00:00+00:00
1121,205578980,10722594,263387,22675,Java@CV Skipper,Java@CV,2024-05-30 22:30:00+00:00

In [6]:
event_staff_rows = []
for eo in p13.event_occs:
    for staff in eo.get('staff_members',[]):
        event_staff_rows.append({
            'event_occurrence_id': eo['id'],
            'event_id' : eo['event_id'],
            'location_id': eo['location_id'],
            'event_name': eo['name'],
            'staff_id': staff['id'],
            'staff_name': staff['name']
        })

In [7]:
pd.DataFrame(event_staff_rows)

,event_occurrence_id,event_id,location_id,event_name,staff_id,staff_name
0,32053044,1411943,22675,[Level 1] @ CV Tiger,2274828,League Admin
1,32055163,1412158,22675,[Level 0] @ CV Penguin,2274828,League Admin
2,32052355,1406853,22675,[Level 2] @ CV Elephant,2274828,League Admin
3,32038901,1407021,22675,[Level 7] @ CV Caterpillar,2274828,League Admin
4,32433659,1433807,22675,[Level 8] @ CV Caterpillar,2274828,League Admin
...,...,...,...,...,...,...
66536,205459085,4950771,22675,Java@CV Gnu,5166821,Mike Johnson
66537,205459087,8819754,23281,Java@VL Camel,7442429,Colby Schexnayder
66538,224534115,13378382,22675,"Java Beginner ( Levels 0, 1, 2)",7101043,Accepting Students
66539,218789490,12952206,30565,Java@HHS,7861875,VA-Tammy Neuhaus
66540,205578980,10722594,22675,Java@CV Skipper,5166821,Mike Johnson

In [8]:
pdf = Pike13DataFrames(p13)
pdf.locations

,location_id,location_name,latitude,longitude,location_code
0,22675,Carmel Valley Campus (CV),32.9474,-117.239,CV
1,23281,Virtual Learning (VL),NaN,NaN,VL
2,30565,Hoover High School (HHS),32.7555,-117.098,HHS
3,27543,Malcolm X Library (MX),32.7108,-117.084,MX
4,37549,Innovation Middle School (IMS),32.8373,-117.174,IMS
5,38591,Millennial Tech Middle School (MT),32.7175,-117.089,MT
6,38688,NCRC Center,NaN,NaN,NaN
7,39104,GOLDEN HILL K-8,32.7188,-117.124,NaN
8,39105,MONTGOMERY MIDDLE,32.7885,-117.172,NaN
9,39106,TAFT MIDDLE,32.8017,-117.131,NaN
10,39107,LINCOLN HIGH SCHOOL,32.7034,-117.089,NaN
11,40826,Digital Start North County (NC),33.3675,-117.250,NC
12,41357,Cal Coast Academy(CCA),32.9402,-117.219,CCA

In [9]:
p13